{% extends 'sidebar.html' %}
{% load staticfiles %}
{% block title %}БЕЛУЛ - нефтепродукты оптом в Волхове{% endblock %}
{% block main %}

<div class="col-md-8 colArt">
	<div class="row rowArt">
		<article>
			<h3>Нефтепродукты от надежного поставщика</h3>
			<p class="loremTest">Компания <strong>Белул</strong> более 20 лет занимается поставкой высококачественных нефтепродуктов и продуктов нефтехимии.</p>
			<p class="loremTest">Ведущим подразделением компании ООО«БЕЛУЛ» является отдел поставок. Если Вам нужно перевезти дизель, осуществить перевозку других светлых нефтепродуктов — звоните! Наш автопарк к Вашим услугам.</p>
			<p class="loremTest">Регионы, куда поставляются нефтепродукты автотранспортом – Ленинградская, Новгородская области, Псковская область, республика Карелия, а так же Москва и Московская область.</p>
			<p class="loremTest">Доставку нефтепродуктов своим заказчикам мы осуществляем собственным автопарком специальной техники. Использование своего транспорта и отлажененных логистических маршрутов позволяют нам всегда доставлять продукт точно в срок.</p>
			<p class="loremTest">Собственная сеть АЗС, предоставляет качественное топливо, которые соответствуют всем государственным стандартам.</p>
			<p class="loremTest">Выгодное сотрудничество с нами означает - индивидуальный подход к каждому клиенту, гибкая ценовая политика, прямые договора!</p>
			<p class="loremTest">Если Вас интересуют цены на предлагаемые нами нефтепродукты, Вы можете посмотреть их в разделе <a class="newsLink" href="#">прайс-лист</a>.</p>
			<p class="loremTest">Хотите согласовать поставку товаров и услуг или задать интересующий вопрос? <br>
				Мы доступны по номерам:</p>
				<table id="table1">
					<tr><td class="td1">Тел/факс:</td><td class="td2"><strong>8(813)632-38-89/637-72-29</strong></td></tr>
					<tr><td class="td1">Моб.:</td><td class="td2"><strong>8(921)318-06-78</strong></td></tr>
				</table>
				<p class="loremTest">С более подробной информацией о том как нас найти, можете ознакомиться в разделе <a class="newsLink" href="{% url 'contacts' %}">контакты</a>.</p>
				<p class="loremTest">Цены поставляемых товаров указаны с учетом всех налогов и могут меняться в связи с изменением конъюнктуры цен на рынке нефтепродуктов.</p>

		</article>
	</div>
</div>

{% endblock %}
