{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>{% block title %} {% endblock %}</title>
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no">
	<meta name="yandex-verification" content="3b37a6494d4a4c79" />
	<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static "css/media.css" %}" />
	<link rel="stylesheet" href="{% static "css/style.css" %}" />
	<link rel="stylesheet" href="{% static "css/fonts.css" %}" />
	<link rel="stylesheet" href="{% static "libs/bxslider/jquery.bxslider.css" %}" />
	<link rel="stylesheet" href="{% static "libs/bootstrap/bootstrap.css" %}" />
	<link rel="stylesheet" href="{% static "libs/font-awesome-4.7.0/css/font-awesome.min.css" %}" />


</head>
<body>
	<!--Header and image slider-->
	<header class="headerTop">

			<div id="headerColor" class="container">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-9 rowSlogan">					
							<span class="slogan">ОПТОВАЯ ПРОДАЖА И ДОСТАВКА НЕФТЕПРОДУКТОВ</span>
							<span class="sloganMedium">ПОСТАВКА НЕФТЕПРОДУКТОВ ОПТОМ</span>
							<span class="sloganSmall">ПОСТАВКА НЕФТЕПРОДУКТОВ</span>
						</div>
						<div class="row rowHeader">
							<div id="logoCol" class="col-md-5">
								<div class="logo">
									<img id="imgLogo" width="285" height="77" src="{% static "images/belulOld.png" %}" alt="logoBelul">
									<img id="imgLogoSmall" src="{% static "images/belulOldSmall.png" %}" alt="logoBelul">
								</div>
							</div>
							<div id="mdCol5" class="col-md-4">
							</div>
							<div id="infoCol" class="col-md-3">
								<table class="infoTable">
									<tr class="phone textHeader" >
										<td><i class="fa fa-phone" aria-hidden="true"></i></td>
										<td>8<span class="prefColor" >(921)</span>318-06-78</td></tr>
									<tr class="phone textHeader" >
										<td><i class="fa fa-phone-square" aria-hidden="true"></i></td>
										<td>8<span class="prefColor" >(813)</span>632-38-89</td></tr>
									<tr class="mail textHeader">
										<td>
											<a href="mailto:info@belul.ru">
												<i class="fa fa-envelope-open" aria-hidden="true"></i>
											</a>
										</td>
										<td>
											<a id="mailSend" class="infoTable__email" href="mailto:info@belul.ru">
												info@belul.ru
											</a>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Banner-->
			<div id="banner" class="container">
				<div class="col-md-12">
					<div class="row">
						<ul class="bxslider">
							<li><p id="img1"><span class="caps">СВОЯ СЕТЬ АВТОЗАПРАВОК</span> <br><span class="mediaSize">европейское качество обслуживания</span></p><img class="bannerImg" src="{% static "images/gasStation.png" %}" alt="gasStation"></li>
							<li><p id="img2"><span class="caps">СОБСТВЕННЫЙ АВТОПАРК</span><br><span class="mediaSize">продуманные логистические маршруты</span></p><img class="bannerImg" src="{% static "images/fura1.jpg" %}" alt="avtoDostavka"></li>
							<li><p id="img3"><span class="caps">БОЛЕЕ 20 ЛЕТ ОПЫТА РАБОТЫ</span><br><span class="mediaSize">на рынках нефтепродуктов и нефтехимии</span></p><img class="bannerImg" src="{% static "images/newOil.png" %}" alt="dobicha"></li>
						</ul>
					</div>
				</div>
			</div>
			<!--Menu-->

			<div id="navigation" class="container">
				<div class="col-md-12">
					<div class="row">
						<nav class="mainMenu">
							<div class="menuBgColor">
								<div class="divButton">
									<button class="menuButton hidden-md hidden-lg hidden-sm"><i class="fa fa-bars" aria-hidden="true"></i></button>
								</div>
								<div class="row colorMenu">
									<ul class="hideMenu">
										<li id="mainId" class="active mainLi mainLiSmart"><a href="{% url 'mainPage' %}">Главная</a>
											<ul class="dropMenu">
												<li class="subLi main"><a href="{% url 'articlesAll' %}">Новости рынка нефтепродуктов</a></li>
											</ul>
										</li>
										<li id="companyId" class="mainLi mainLiSmart"><a href="{% url 'about' %}">Компания</a>
											<ul class="dropMenu companyDrop">
												<li class="subLi company oKomp"><a class="companyA" href="{% url 'about' %}">О компаниии</a></li>
												<li class="subLi company prod"><a class="companyA" href="{% url 'goods' %}">Поставляемая продукция</a></li>
												<!-- <li class="subLi company avto"><a class="companyA" href="{% url 'avtopark' %}">Автопарк</a></li> -->
											</ul>
										</li>
										<li id="azsId" class="mainLi mainLiSmart"><a href="{% url 'uslugi' %}">АЗС</a>
											<ul class="dropMenu">
												<li class="subLi azs"><a class="azsA" href="{% url 'uslugi' %}">Перечень услуг</a></li>
												<li class="subLi azs adresses"><a class="azsA" href="{% url 'adresa' %}">Адреса АЗС</a></li>
											</ul>
										</li>
										<li id="sbitId" class="mainLi mainLiSmart"><a href="{% url 'postavka' %}">Доставка</a>
										</li>
										<li id="priceId" class="mainLi mainLiSmart"><a href="{% url 'prices' %}">Прайс-лист</a></li>
										<li id="contactsId" class="mainLi mainLiSmart"><a href="{% url 'contacts' %}">Контакты</a>
											<ul class="dropMenu">
												<li class="subLi contacts"><a class="contactsA" href="{% url 'contacts' %}">Реквизиты</a></li>
												<li class="subLi contacts svyaz"><a class="contactsA" href="{% url 'connect' %}">Обратная связь</a></li>
											</ul>
										</li>
									</ul>

								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>

	</header>
	<div class="container containerArt">
		{% block flatpage %}{% endblock %}
		{% block mainpage %}{% endblock %}
		{% block connect %}{% endblock %}
		{% block article %}{% endblock %}
		{% block price %}{% endblock %}
	</div>
		<div class="container containerFooter">
		<div class="col-md-4 colFooter">
			<div class="row rowFooter">
				<div class="cAdress">187403, Ленинградская область<br>г. Волхов, Кировский пр., д.30</div>
			</div>
		</div>
		<div class="col-md-8 colMapFooter">
		<div class="row">
					<div class="map">
						<ul class="mapUl">
							<li class="mapLi"><a class="mapA mapMain" href="{% url 'mainPage' %}">Главная</a>
								<ul class="ulMain">
									<li><a href="{% url 'articlesAll' %}">Новости</a></li>
								</ul>
							</li>
							<li class="mapLi"><a class="mapA mapCompany" href="{% url 'about' %}">Компания</a>
								<ul class="ulCompany">
									<li><a href="{% url 'about' %}">О компании</a></li>
									<li><a href="{% url 'goods' %}">Продукция</a></li>
									<li><a href="{% url 'avtopark' %}">Автопарк</a></li>
								</ul>
							</li>
							<li class="mapLi"><a class="mapA mapAzs" href="{% url 'uslugi' %}">АЗС</a>
								<ul class="ulAzs">
									<li><a href="{% url 'uslugi' %}">Услуг</a></li>
									<li><a href="{% url 'adresa' %}">Адреса</a></li>
								</ul>
							</li>
							<li class="mapLi"><a class="mapA mapSbit" href="{% url 'postavka' %}">Сбыт</a>
								<ul class="ulSbit">
									<li><a href="{% url 'postavka' %}">Поставки</a></li>
									<li><a href="{% url 'dostavka' %}">Доставка</a></li>
								</ul>
							</li>
							<li class="mapLi"><a class="mapA mapPrice" href="{% url 'prices' %}">Прайс-лист</a></li>
							<li class="mapLi"><a class="mapA mapContacts" href="{% url 'contacts' %}">Контакты</a>
								<ul class="ulContacts">
									<li><a href="{% url 'contacts' %}">Реквизиты</a></li>
									<li><a href="{% url 'connect' %}">Связь</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-12 colMapCreator">
		<div class="row">
			<div class="creator">
				<p>ООО "БЕЛУЛ"</p>
				<p> 2017</p>
			</div>
		</div>
		</div>
		</div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
	<script src="{% static "libs/jquery/jquery-3.2.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/banner1.js" %}"></script>
	<script type="text/javascript" src="{% static "libs/bxslider/jquery.bxslider.min.js" %}"></script>
	<script src="{% static "js/Calendar.js" %}"></script>
	<script type="text/javascript" src="{% static "js/testMenu.js" %}"></script>
	<script type="text/javascript" src="{% static "js/article.js" %}"></script>

	<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
	<!-- Google Analytics counter --><!-- /Google Analytics counter -->

</body>
</html>